a {
	color: inherit;
}

section {
	page-break-inside: avoid;
}

#page {
	padding: 0px; 
	margin: 0px;
}

html {
	padding: 0px; 
	margin: 0px;
}

body {
	padding: 0px; 
	margin: 0px;
}

@page {
	margin: 10mm 20mm 10mm 20mm;
}
