a {
	text-decoration:none;
}

html {
	height:100%;
}
body {
	background: linear-gradient(to bottom, 	#B2E0C2 , #0D0D0D);
	background: -moz-linear-gradient(to bottom, 	gray, #0D0D0D);
	background:  url('http://upload.wikimedia.org/wikipedia/commons/1/1f/Chest_Xray_PA_3-8-2010_inverted.png');
	background-attachment:fixed;
	background-size: cover;

	height: 80%;
	

}
/*
body:after {
	background:  url('http://upload.wikimedia.org/wikipedia/commons/1/1f/Chest_Xray_PA_3-8-2010_inverted.png');
	background-size: cover;
	background-attachment:fixed;
  opacity: 0.6;
	width:100%;
	height:100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  content: "";
}
*/
#page{
  background-color: white;
  padding: 20px;
  margin: auto;
  margin-bottom:10px;
  margin-top:30px;
  border-radius: 4px;
}

h2 {
	border-bottom:none;
	padding-left:5px;
	font-size:large;
}

h1 {
	display: inline;
	display: table-cell;
	vertical-align: bottom;
	padding:0px;
	margin:0px;
}

header {
	border-bottom: 1px solid black;
	width:100%;
	display: table;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

th {
	text-align: left;
	vertical-align: top;
	padding-right: 20px;
	width:120px;
	font-weight:normal;
}
td, th {
  padding-top:4px;
  padding-bottom:4px;
  }
table {margin-left: 20px;}
p {
  background-color: none;
  margin:0px;
}
#Coordonnees {
	text-align:right;
	display: table-cell;
	vertical-align: bottom;
}

#Coordonnees a {
display: block;
}
.institution {
  font-style: italic;
  margin-top: 0px;
}
